.env
.env
DATABASE_URL="postgresql+psycopg2://postgres:post10@localhost:5432/doc_ai_db"
export TEST_DATABASE_URL=postgresql+psycopg2://postgres:post10@localhost/document_ai_test
SECRET_KEY=supersecret
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
